body {
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #50505a;
}

.circle {
    width:500px;
    height:500px;
    border-radius:250px;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    background:#000
}



.top {
    width: 400px;
}

#drawers div { 
    display:none;
    text-align: left;
    border-left: 2px solid #E61D56;
    border-right: 2px solid #E61D56;
    border-bottom: 2px solid #E61D56;
    border-radius: 3px; 
    padding: 5px;
}

#drawers div.first { 
    display:block; 

}

li.draw { 
    font-size: 12px;
}

ul.draw { 
    list-style-type: none; 
    text-align: center; 
    margin: 0 0 1em 0; 
    padding: 0; 
}

ul.draw li { 
    background: none; 
    margin: 1em; 
    padding: 0; 
}

ul.draw li img { 
    padding-top: 5px; 
    margin: 0; 
}
ul.draw h5 { 
    margin: 0; 
    font-size: 12px; 
    line-height: 19px; 
    background: rgba(119,185,255,0.5); 
    border-radius: 3px; 
    margin: 0; 
    cursor: pointer; 
}
